extends ../layout/main.pug

block content
    section.main-content__section.section
      .main-content__container
        .section__search-block.search-block
          .search-block__titles-container
            h2.section__title All Customers
            p.section__subtitle Active Members
          .section__input-wrapper
            .section__input-container
              img.section__search-icon(src="/src/assets/magnifying-glass.svg")
              input.section__input(type="text" placeholder="Search")
        table.section__table-body.table
          thead.table__table-header.table-header
            tr.table-header__row
              th.table-header__cell Customer Name
              th.table-header__cell Company
              th.table-header__cell Phone Number
              th.table-header__cell Email
              th.table-header__cell Country
              th.table-header__cell.table-header__cell_status Status       
          tbody.table__table-body.table-body#paginated-list
            each item in users
              tr.table-body__row
                td.table-body__group
                  span.table-body__key Customer Name
                  span.table-body__value=item.name
                td.table-body__group
                  span.table-body__key Company
                  span.table-body__value=item.company
                td.table-body__group
                  span.table-body__key Phone Number
                  span.table-body__value=item.phoneNumber
                td.table-body__group
                  span.table-body__key Email
                  span.table-body__value=item.email
                td.table-body__group
                  span.table-body__key Country
                  span.table-body__value=item.country
                td.table-body__group.table-body__group_indicator
                  span.table-body__key Status
                  span.table-body__value
                    button.table-body__indicator=item.status
        .section__pagination.pagination
          span.pagination__info#entries-quantity 
          

          
          nav.pagination-container
            button.pagination-button#prev-button(title="Previous page" aria-label="Previous page") &lt;
            div#pagination-numbers
            button.pagination-button#next-button(title="Next page" aria-label="Next page") &gt;


            //- button.pagination__page(href="#") &lt;              
            //- a.pagination__page.pagination__page-active(href="#") 1
            //- a.pagination__page(href="#") 2
            //- a.pagination__page(href="#") 3
            //- a.pagination__page(href="#") 4
            //- a.pagination__page.pagination__page-more(href="#") ...
            //- a.pagination__page(href="#") 40
            //- button.pagination__page(href="#") &gt;

